# See http://help.github.com/ignore-files/ for more about ignoring files.

.vscode/*

### Python ###
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
output/
dist
build
pets_gen.egg-info